@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --ring: 216 34% 17%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-sans antialiased bg-background text-foreground;
  }

  .markdown {
    @apply text-gray-800 leading-relaxed;
  }

  .markdown h1 {
    @apply text-4xl font-bold mt-6 mb-4;
  }

  .markdown h2 {
    @apply text-3xl font-semibold mt-5 mb-3;
  }

  .markdown h3 {
    @apply text-2xl font-semibold mt-4 mb-2;
  }

  .markdown p {
    @apply text-base my-2;
  }

  .markdown ul {
    @apply list-disc pl-5 my-2;
  }

  .markdown ol {
    @apply list-decimal pl-5 my-2;
  }

  .markdown li {
    @apply text-base leading-6;
  }
  .markdown a {
    @apply text-base leading-6 text-blue-600 hover:text-blue-800 underline;
  }

  .markdown blockquote {
    @apply border-l-4 border-gray-400 pl-4 italic text-gray-600 my-4;
  }

  .markdown code {
    @apply bg-gray-100 text-sm font-mono px-1 py-0.5 rounded;
  }

  .markdown pre {
    @apply bg-gray-900 text-gray-100 p-4 rounded-md overflow-auto;
  }
}
